@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@inject IAuthorizationService authorizationService

@if (authorizationService.AuthorizeAsync(User, "Permissions.Order.View").Result.Succeeded)
{
    <button class="btn btn-primary">Permissions.Order.Read</button>
}
@if (authorizationService.AuthorizeAsync(User, "Permissions.Order.Delete").Result.Succeeded)
{
    <button class="btn btn-primary">Permissions.Order.Delete</button>
}

@if (authorizationService.AuthorizeAsync(User, "Permissions.Stock.Delete").Result.Succeeded)
{
    <button class="btn btn-primary">Permissions.Stock.Delete</button>
}

